.enlace-nav {
    display: inline-block;
    background: salmon;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

.enlace-nav:hover {
    background: #ff5f40;
}

nav {
    display: flex;
    padding: 10px;
    background: #fa26a0;
    justify-content: space-around;
    /*
    justify-content: space-between;
    justify-content: center;*/
    /*estos son algunos otros ejemplos*/
}