.enlace-nav {
    display: inline-block;
    background: salmon;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

.enlace-nav:hover {
    background: #ff5f40;
}

nav {
    display: flex;
    padding: 10px;
    background: #fa26a0;
    justify-content: space-around;
    /*
    justify-content: space-between;
    justify-content: center;*/
    /*estos son algunos otros ejemplos*/
}

.menu-nav {
    background: salmon;
    color: white;
    padding: 10px 0px;
    border: 2px solid;
    display: none/*basicamente con esto hacemos q no se vea el boton*/
}

@media (max-width: 600px) {
    nav {
        background: black;
        flex-direction: column;
    }
    .enlace-nav {
        margin: 10px 0;
    }
    .menu-nav {
        display: inline-block;
    }
    .desaparece {
        display: none;
    }
}