body {
    font-family: 'Lato', sans-serif;
    /*google fonts*/
}

h2 {
    font-weight: 400;
}

p {
    font-weight: 300;
}

.Container {
    margin: 0px auto;
    /*width: 500px;*/
    width: 90%;
}

.flex {
    display: flex;
    /*para visualizarlo en columnas*/
}

.texto-centrado {
    text-align: center;
}

.Columna {
    background: #f4f6ff;
    color: #838383;
    border: 1px solid #838383;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #838383;
}

.Precio {
    font-size: 50px;
    color: #1dd3bd;
}

.BTN_precio {
    background: #F37036;
    color: white;
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.BTN_precio:hover {
    background: #F5530B;
}