h1 {  
    color: purple;
    font-size: 100px;
}

#unico{  /*referencia la etiqueta q tenga este id */
    color: blue; 
    font-size: 15px;
}

.miestilo{  /*referencia a las etiquetas que tengan esta clase*/
    color: green; 
    font-size: 50px;
}

.fondo{
    background: khaki;
}